[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pytest = "*"
flasgger = "*"
requests = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-cors = "*"
pymysql = "*"
cryptography = "*"
bleach = "*"

[dev-packages]

[requires]
python_version = "3.10"
